@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

:root {
  --button-color: rgb(0, 0, 0);
  --button-bg-color: #B3B6B7;
  --button-hover-bg-color: #B3B6B7;
}

div {
    font-family: 'Sunflower', sans-serif;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: var(--button-bg-color);
    color: var(--button-color);

    margin: 0;
    padding: 0.5rem 1rem;

    font-family: 'Sunflower', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 4px;

    display: inline-block;
    width: auto;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    transition: 0.5s;
}

button.success {
  margin-top: 20px;
    --button-bg-color: hsl(228, 54%, 55%);
    --button-hover-bg-color: hsl(228, 54%, 55%);
    color: cornsilk;
}

button.sub {
    width: 60px;
    height: 30px;
}

button.warning {
    --button-color: #212529;
    --button-bg-color: #ffc107;
    --button-hover-bg-color: #e0a800;
}
button.hover3:hover{
  box-shadow: 0 80px 0 0 rgba(0,0,0,0.25) inset,
      0 -80px 0 0 rgba(0,0,0,0.25) inset;
  --button-bg-color: hsl(228, 54%, 55%);
  --button-hover-bg-color: hsl(228, 54%, 55%);
  color: cornsilk;
}
/* button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

body {
  margin: 0;
  background: #eee;
} */
